<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-panel">
            <div class="form-margin">
                <p>Full name</p>
                <div class="number-item">
                    <input type="text" name="full_name" placeholder="(minimum 3 characters)">
                </div>
            </div>
            <div class="form-margin">
                <p>Address</p>
                <div class="number-item">
                    <input type="text" name="address" placeholder="(minimum 6 characters)">
                </div>
            </div>
            <div class="form-margin">
                <p>Credit card number</p>
                <div class="number-item">
                    <input type="text" name="credit_card_number" placeholder="(16-digit characters)">
                </div>
            </div>
            <div class="form-margin">
                <p><small>We'll never share your payment details with anyone else.</small></p>
            </div>
            <button class="button" onclick="location.href='../confirmation'">
                <input type="submit" value="Submit">
            </button>
        </div>
    </div>
</div>