<!--Ensures confirmation page Remains in Middle, except title & "Product List" and "Cart" links-->
<div class="confirmation-container">
    <div class="confirmation-items">
        <div class="confirmation-header">
            <div class="confirmation-item">
                <h1>Success!</h1>
            </div>
        </div>
        <p>Thank you, _name_ !</p>
        <p>Your _total_cost_ order is confirmed!</p>
        <p>Please allow 1-3 business day(s) for shipping.</p>
        <button class="button" (click)="returnToProductList()">Back to product list</button>
    </div>
</div>