<!--Ensures confirmation page Remains in Middle, except title & "Product List" and "Cart" links-->
<div class="confirmation-container">
    <div class="confirmation-items">
        <div class="confirmation-header">
            <div class="confirmation-item">
                <h1>Success!</h1>
            </div>
        </div>
        <!--TESTING CODE (delete later)
        <p>Current thank you message: {{ thankYouMessage }}</p>-->

        <p>{{ thankYouMessage }}</p>
        <!--<app-confirmation (messageEmitter)="messageEmitter"></app-confirmation>-->
        <!--<p>Thank you, _name_ !</p>-->
        <!--<p>{{ thankYouMessage }}</p> <= FAILED-->
        <!--<p>Thank you, {{ full_name }} !</p>-->
        <!--<a>{{ thankYouMessage }}</a> <= FAILED-->
        <!--<app-cart (obtainBillingInfo)="obtainBillingInfo($event)"></app-cart>-->
        <!--<li>{{ thankYouMessage }}</li> <= FAILED-->
        <!--<p>{{ this.thankYouMessage }}</p> <= FAILED-->
        <!--<p id="thankYouMessage"></p> <= FAILED-->
        <!--<a id="thankYouMessage"></a> <= FAILED-->
        <!--<app-cart [customer_full_name]="customer_full_name"></app-cart>-->
        <!--<app-cart (obtainBillingInfo)="obtainBillingInfo($event)"></app-cart>-->
        <!--<p>Thank you, <app-cart (obtainBillingInfo)="obtainBillingInfo($event)" [full_name]="full_name"></app-cart>!</p> <= FAILED-->
        <!--<p>Thank you, <app-cart [full_name]="full_name"></app-cart>!</p> <= FAILED-->
        <!--<p>Thank you, <app-cart [full_name]="full_name"></app-cart>!</p>-->
        <!--<app-cart [full_name]="full_name"></app-cart>-->
        <!--<app-cart>{{thankYouMessage}}</app-cart>-->
        <!--<app-confirmation>{{ thankYouMessage }}</app-confirmation>-->
        <p>Your _total_cost_ order is confirmed!</p>
        <p>Please allow 1-3 business day(s) for shipping.</p>
        <button class="button" onclick="location.href='http://localhost:4200/'">Back to product list</button>
    </div>
</div>
