<!--Ensures confirmation page Remains in Middle, except title & "Product List" and "Cart" links-->
<div class="confirmation-container">
    <div class="confirmation-items">
        <div class="confirmation-header">
            <div class="confirmation-item">
                <h1>Success!</h1>
            </div>
        </div>
        <p>Thank you, {{ customerName }}!</p>
        
        <!--Limits Cents of "totalPurchaseCost" to Two Decimal Places-->
        <p>Your ${{ totalPurchaseCost | number : '1.2-2' }} order is confirmed!</p>
        
        <p>Please allow 1-3 business day(s) for shipping.</p>

        <!--AUTOMATICALLY RESETS Item Purchase Amounts once Pressed-->
        <button class="button" onclick="location.href='http://localhost:4200/'">Back to product list</button>
    </div>
</div>