<p> chosenItemId: {{ chosenItemId }}</p>
<p> chosenItem.id: {{ chosenItem.id }}</p>
<p> chosenItem.name: {{ chosenItem.name }}</p>
<p> chosenItem.price: {{ chosenItem.price }}</p>
<p> chosenItem.url: {{ chosenItem.url }}</p>
<p> chosenItem.description: {{ chosenItem.description }}</p><!---->

<!--Child HTML Files ALWAYS Display Content for Parent HTML Files-->
<!--Parent HTML Files Access Child HTML Files to Display their Content-->

<!--TEMP: use "button" for Increasing & Decreasing items for cart?-->

<a href="http://localhost:4200/" routerLink="/">Back to product list</a>